In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
METADATA_SOURCES_DIR_PATH = "metadata_sources"
TMP_FILE_PATH = os.path.join("/", "tmp", "TMP_FILE_PATH")

## Base metadata 
The file available with the already existing corpus.

In [3]:
base_metadata = pd.read_excel(os.path.join(METADATA_SOURCES_DIR_PATH, 'base_metadata.xlsx'))
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Unnamed: 6
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,NaN
1,2022,77,SEN,Senegal,Macky Sail,President,NaN
2,2022,77,CHL,Chile,Gabriel Boric Font,President,NaN
3,2022,77,JOR,Jordan,Abdullah II ibn Al Hussein,King,NaN
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,NaN

In [4]:
ORG_METADATA_LENGTH = len(base_metadata)

In [5]:
base_metadata["Unnamed: 6"].value_counts()

Unnamed: 6
See Resolutions adopted by the general Assembly during the second part of its first session, resolution 41 (1), pages 65-67.; Ibid., resolution 40 (I), pages 64-65.; See Resolutions adopted by the General Assembly during the first part of its first session, resolution 28 (I), page 38, and Resolutions adopted by the General Assembly during the second part of its first session, resolution 46 (I), pages 72-73.; See Resolutions adopted by the General Assembly during the second part of its first session, resolution 94 (I), pages 187-188.; See Official Records of the second part of the first session of the General Assembly, First Committee, pages 81-82 ; See Resolutions adopted by_ the General Assembly during tiie first part of its first session, resolution 1 (I) , pige 9 and Resolutions adopted by the General Assembly during the second part of its first session, resolutions 41 (I) and 42 (I), pages 65-67.    1
Name: count, dtype: int64

In [6]:
base_metadata.drop(["Unnamed: 6"], axis=1, inplace=True)

In [7]:
base_metadata["Country"] = base_metadata["Country"].str.strip()

In [8]:
base_metadata.Country.value_counts().tail(20) # lot o mistakes and typos

Country
People’s Democratic Republic of Algeria    1
Democratic People’s Republic               1
Holy SEE                                   1
Trinidad and Tobado                        1
Republic of the Marshall Islands           1
Islamic Republic of Afghanistan            1
Libyan Arab Jamahiiya                      1
Co-operative Republic of Guyana            1
Lao's people democratic republic           1
Vatican/Holy See                           1
The Principality of Andorra                1
Bosnia and Herzegovia                      1
The Federative Republic of Brazil          1
Swistzerland                               1
The Republic of the Congo                  1
Kyrgystan                                  1
The United States of America               1
The Republic of South Africa               1
Korea                                      1
Philippine Republic                        1
Name: count, dtype: int64

In [9]:
base_unique_countries = base_metadata.Country.unique()

In [10]:
len(base_unique_countries) # 548 different country names!!!

548

### 1st iteration of corrections in metadata 
Correction of typos and mistakes not matched by regex.

In [11]:
import country_converter as coco
cc = coco.CountryConverter()
iso3_codes = cc.convert(names=base_unique_countries, to="ISO3")

European Union not found in regex
Lichtenstein not found in regex
Republic of Co not found in regex

Republic of Naura not found in regex
Lybia not found in regex
Mauritus not found in regex
Somoa not found in regex
UAE not found in ISO3
European Council not found in regex
DRC not found in ISO3
Swistzerland not found in regex
The Republic of the Congo not found in regex
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
More than one regular expression match for United Kingdom of Great Britain and Nothern Ireland
Kyrgystan not found in regex
Lybian Arab Jamahiriya not found in regex
Serbia and Montenegro not found in regex
Yugoslavia not found in regex
CAR not found in ISO3
Democratic People’s Republic not found in regex
Afganistan not found in regex
29+C70+A7+D71:E74 not found in regex
BSSR not found in regex
FDR not found in ISO3
USSR not found in regex
UkrSSR not found in regex
German Democratic Republic not found in regex
BelSSR not found in regex
DDR not found in ISO3
Leage of Arab States not found in regex
Congo, the Peoples Republic of the not found in regex
Republica Federal Alemana not found in regex
Union of Socialist Soviet Republics not found in regex
Morroco not found in regex
Union of Soviet Socialist Republics not found in regex
Comoras not found in regex
Magadascar not found in regex
Soloman Islands not found in regex
Bostwana not found in regex
Central Africa not found in regex
Cape Verda not found in regex
Geranada not found in regex
Hungrary not found in regex
Moroco not found in regex
Netherland not found in regex
Singapor not found in regex
Phillippines not found in regex
Ukranian SSR not found in regex
Philpinnes not found in regex
Central African Empire/CAR not found in regex
Giunea-Bissau not found in regex
Salvador not found in regex
Lybian Arab Republic not found in regex
New Zealnand not found in regex
United Arab Republic not found in regex
United Arab  Republic not found in regex
Hungry not found in regex
United Kindom not found in regex
South Afrioa not found in regex
Federation of Malaya not found in regex
Ukranian Soviet Socialist Republic not found in regex
Union of Sovier Socialist Republics not found in regex
Philippine Republic not found in regex

In [12]:
replacement_dict = {
    "Lichtenstein": "Liechtenstein",
    "Republic of Co": "Republic of the Congo",
    "Republic of Naura": "Nauru",
    "Lybia": "Libya",
    "Mauritus": "Mauritius",
    "Somoa": "Samoa",
    "UAE": "United Arab Emirates",
    "DRC": "Democratic Republic of the Congo",
    "Swistzerland": "Switzerland",
    "The Republic of the Congo": "Republic of the Congo",
    "Kyrgystan": "Kyrgyzstan",
    "Lybian Arab Jamahiriya": "Libya",
    "CAR": "Central African Republic",
    "Democratic People’s Republic": "North Korea",
    "Afganistan": "Afghanistan",
    "BSSR": "Belarus",
    "UkrSSR": "Ukraine",
    "BelSSR": "Belarus",
    "Congo, the Peoples Republic": "Republic of the Congo",
    "Morroco": "Marocco",
    "Comoras": "Comoros",
    "Magadascar": "Madagascar",
    "Soloman Islands": "Solomon Islands",
    "Bostwana": "Botswana",
    "Leage of Arab States": "Arab League",
    "Central Africa": "Central African Republic",
    "Congo, the Peoples Republic of the": "Republic of the Congo",
    "Cape Verda": "Cape Verde",
    "Geranada": "Grenada",
    "Hungrary": "Hungary",
    "Moroco": "Marocco",
    "Netherland": "Netherlands",
    "Singapor": "Singapore",
    "Phillippines": "Philippines",
    "Philpinnes": "Philippines",
    "Ukrainian SSR": "Ukraine",
    "Central African Empire/CAR": "Central African Republic",
    "Giunea-Bissau": "Guinea-Bissau",
    "Salvador": "El Salvador",
    "Lybian Arab Republic": "Libya",
    "New Zealnand": "New Zealand",
    "United Arab  Republic": "United Arab Republic",
    "Hungry": "Hungary",
    "United Kindom": "United Kingdom",
    "South Afrioa": "South Africa",
    "Federation of Malaya": "Malaysia",
    "Ukranian Soviet Socialist Republic": "Ukraine",
    "Philippine Republic": "Philippines",
    "Ukranian SSR": "Ukraine",
    "USSR": "Union of Soviet Socialist Republics",
    "Union of Sovier Socialist Republics": "Union of Soviet Socialist Republics",
    "Union of Socialist Soviet Republics": "Union of Soviet Socialist Republics",
    "USSR": "Union of Soviet Socialist Republics",
    "Holy See": "Vatican",
    "Holy See (Vatican City State)": "Vatican",
    "Holy See/ Vatican": "Vatican",
    "Holy See/Vatican": "Vatican",
    "Vatican/Holy See": "Vatican",
    "Holy SEE": "Vatican",
    "DDR": "East Germany",
    "Republica Federal Alemana": "West Germany",
    "FDR": "West Germany",
}

In [13]:
base_metadata["Country"] = base_metadata["Country"].replace(replacement_dict)

### 2nd iteration of corrections

In [14]:
base_metadata.loc[base_metadata["ISO Code"] == "DEU"] # this is West Germany before 1990

,Year,Session,ISO Code,Country,Name of Person Speaking,Post
30,2022,77,DEU,Germany,Olaf Scholz,Prime Minister
298,2021,76,DEU,Germany,Frank Walter Steinmeier,President
556,2020,75,DEU,Federal Republic of Germany,Mr. Heiko Maas,Minister for Foreign Affairs
654,2019,74,DEU,Federal Republic of Germany,Mr. Heiko Maas,Federal Minister for Foreign Affairs
819,2018,73,DEU,Germany,Mr. Heiko Maas,Federal Minister for Foreign Affairs
1058,2017,72,DEU,Germany,Mr. Sigmar Gabriel,Vice-Chancellor and Federal Minister for Forei...
1291,2016,71,DEU,Germany,Mr. Frank-Walter Steinmeier,Minister for Foreign Affairs
1405,2015,70,DEU,Germany,Mr. Frank-Walter Steinmeier,Minister for Foreign Affairs
1601,2014,69,DEU,Germany,Frank-Walter Steinmeier,Minister for Foreign Affairs
1794,2013,68,DEU,Germany,Guido Westerwelle,Minister for Foreign Affairs
1987,2012,67,DEU,Germany,Guido Westerwelle,Minister for Foreign Affairs
2182,2011,66,DEU,Germany,Guido Westerwelle,Deputy Prime Minister
2376,2010,65,DEU,Germany,Guido Westerwelle,Deputy Prime Minister
2565,2009,64,DEU,Germany,Thomas Matussek,UN Representative
2758,2008,63,DEU,Germany,Frank-Walter Steinmeier,Deputy Prime Minister
2950,2007,62,DEU,Germany,Angela Merkel,Prime Minister
3141,2006,61,DEU,Germany,Dr. Franck-Walter STEINMEIER,Minister for Foreign Affairs
3333,2005,60,DEU,Germany,Klaus Scharioth,Minister for Foregn Affairs
3519,2004,59,DEU,Germany,Mr. Joschka Fischer,Minister for Foreign Affairs
3711,2003,58,DEU,Germany,Gerhard Schroeder,Prime Minister
3900,2002,57,DEU,Germany,Joschka Fischer,Minister for Foreign Affairs
4087,2001,56,DEU,Germany,Joschka Fischer,Deputy Prime Minister
4273,2000,55,DEU,Germany,Joschka Fischer,Deputy Prime Minister
4452,1999,54,DEU,Germany,Joschka Fischer,Deputy Prime Minister
4634,1998,53,DEU,Germany,Klaus Kinkel,Deputy Prime Minister
4814,1997,52,DEU,Germany,Klaus Kinkel,Deputy Prime Minister
4990,1996,51,DEU,Germany,Klaus Kinkel,Deputy Prime Minister
5169,1995,50,DEU,Germany,Mr. Klaus Kinkel,Deputy Prime Minister
5341,1994,49,DEU,Germany,Mr. Klaus Kinkel,Deputy Prime Minister
5514,1993,48,DEU,Germany,Mr. KINKEL,NaN
5688,1992,47,DEU,Germany,Mr Kinkel,NaN
5852,1991,46,DEU,Germany,GENSCHER,NaN
6015,1990,45,DEU,Germany,BRAUTIGAM,NaN
6171,1989,44,DEU,FDR (Germany),GENSCHER,NaN
6326,1988,43,DEU,West Germany,Mr. GENSCHER,NaN
6479,1987,42,DEU,West Germany,GENSCHER,NaN
6633,1986,41,DEU,Germany Democratic Republic,Mr. FISCHER,NaN
6779,1985,40,DEU,Federal Republic of Germany,Mr. Genscher,NaN
6920,1984,39,DEU,Germany,GENSCHER,NaN
7070,1983,38,DEU,West Germany,GENSCHER,NaN
7220,1982,37,DEU,Federal Republic Germany,WISCHNEWSKI,NaN
7365,1981,36,DEU,Germany,Mr. GENSCHER,NaN
7511,1980,35,DEU,Germany,Genscher,NaN
7658,1979,34,DEU,West Germany,Genscher,NaN
7804,1978,33,DEU,West Germany,Genscher,NaN
7945,1977,32,DEU,Federal Republic of Germany,GENSCHER,NaN
8085,1976,31,DEU,Federal Republic of Germany,Mr.Gensher,NaN
8217,1975,30,DEU,Federal Republic of Germany,Mr. GENSCHER,NaN
8344,1974,29,DEU,Federal Republic of Germany,Mr. Genscher,NaN
8470,1973,28,DEU,West Germany,Brandt,Chancellor

In [15]:
base_metadata.loc[(base_metadata["ISO Code"] == "DEU") & (base_metadata["Year"] < 1990), "Country"] = "West Germany"

In [16]:
base_metadata.loc[base_metadata["ISO Code"] == "DDR"]  # this is East Germany before 1990

,Year,Session,ISO Code,Country,Name of Person Speaking,Post
6014,1990,45,DDR,West Germany,GENSCHER,NaN
6170,1989,44,DDR,German Democratic Republic,FISCHER,NaN
6325,1988,43,DDR,East Germany,FISCHER,NaN
6478,1987,42,DDR,East Germany,FISCHER,NaN
6632,1986,41,DDR,West Germany,Mr. GENSCHER,NaN
6778,1985,40,DDR,German Democratic Republic,Mr. Fisher,NaN
6919,1984,39,DDR,East Germany,Fischer,NaN
7069,1983,38,DDR,East Germany,FISCHER,NaN
7219,1982,37,DDR,East Germany,Fischer,NaN
7364,1981,36,DDR,Democratic Republic of Germany,Mr. FISCHER,NaN
7510,1980,35,DDR,German Democratic Republic,Fischer,NaN
7657,1979,34,DDR,Democratic Republic of Germany,Fischer,NaN
7803,1978,33,DDR,East Germany,Fischer,NaN
7944,1977,32,DDR,East Germany,FISCHER,NaN
8084,1976,31,DDR,German Democratic Republic,Mr. Fisher,NaN
8216,1975,30,DDR,German Democratic Republic,Mr. FISCHER,NaN
8343,1974,29,DDR,German Democratic Republic,Mr. Fischer,NaN
8469,1973,28,DDR,East Germany,Winzer,NaN

In [17]:
base_metadata.loc[(base_metadata["ISO Code"] == "DDR") & (base_metadata["Year"] < 1990), "Country"] = "East Germany"

In [18]:
base_metadata.loc[base_metadata["ISO Code"] == "YUG"].head(10) # this is Serbia and Montenegro after 1991

,Year,Session,ISO Code,Country,Name of Person Speaking,Post
3471,2005,60,YUG,Serbia and Montenegro,"Vuk Draković,",Minister for Foregn Affairs
3663,2004,59,YUG,Serbia and Montenegro,Mr. Vuk Draškovic,Minister for Foreign Affairs
3852,2003,58,YUG,Serbia and Montenegro,Svetozar Marović,President
4040,2002,57,YUG,Yugoslavia,Vojislav Koštunica,President
4228,2001,56,YUG,Yugoslavia,Goran Svilanović,Minister for Foreign Affairs
5973,1991,46,YUG,Yugoslavia,LONCAS,NaN
6129,1990,45,YUG,Yugoslavia,BORISLAV JOVIC,President
6284,1989,44,YUG,Yugoslavia,Janez Drnovsek,President of the Presidensy
6438,1988,43,YUG,Yugoslavia,LONČAR,NaN
6591,1987,42,YUG,Yugoslavia,ZPAREVIC,NaN

In [19]:
base_metadata.loc[(base_metadata["ISO Code"] == "YUG") & (base_metadata["Year"] > 1991), "Country"] = "Serbia and Montenegro"

In [20]:
base_metadata.loc[(base_metadata["ISO Code"] == "GBR"), "Country"] = "United Kingdom" # this is United Kingdom

In [21]:
base_metadata.loc[base_metadata["Country"] == "29+C70+A7+D71:E74"] # this is Ethiopia

      Year  Session ISO Code            Country Name of Person Speaking Post
5525  1993       48      ETH  29+C70+A7+D71:E74              Mr. MESFIN  NaN

In [22]:
base_metadata.loc[base_metadata["Country"] == "29+C70+A7+D71:E74", "Country"] = "Ethiopia"

In [23]:
base_metadata.loc[base_metadata["Country"] == "European Council", "Country"] = "European Union" # for the sake of simplicity

In [24]:
base_metadata.loc[(base_metadata["ISO Code"] == "CHN") & (base_metadata["Year"] < 1972), ["Country", "ISO Code"]] = ["Taiwan", "TWN"] # this is Taiwan (Republic of China)

In [25]:
base_metadata.loc[base_metadata["Country"] == "Czechoslovakia"]

,Year,Session,ISO Code,Country,Name of Person Speaking,Post
5510,1993,48,CSK,Czechoslovakia,NaN,NaN
5685,1992,47,CSK,Czechoslovakia,Mr. MORAVCIK,NaN
5849,1991,46,CSK,Czechoslovakia,DIENSTBIER,NaN
6011,1990,45,CSK,Czechoslovakia,DIENSTBIER,NaN
6167,1989,44,CSK,Czechoslovakia,JOHANES,NaN
6322,1988,43,CSK,Czechoslovakia,CHNOUPEK,NaN
6475,1987,42,CSK,Czechoslovakia,JOHANES,NaN
6629,1986,41,CSK,Czechoslovakia,Mr. CHNOOPEK,NaN
6775,1985,40,CSK,Czechoslovakia,Mr. Chnoupek,NaN
6916,1984,39,CSK,Czechoslovakia,CHNOUPEK,NaN
7066,1983,38,CSK,Czechoslovakia,CHNOUPEK,NaN
7216,1982,37,CSK,Czechoslovakia,CHNOUPEK,NaN
7361,1981,36,CSK,Czechoslovakia,Mr. CH1SIOUPEK,NaN
7507,1980,35,CSK,Czechoslovakia,Chnoupek,NaN
7654,1979,34,CSK,Czechoslovakia,Chrtoupek,Ministry of Foreign Affairs
7800,1978,33,CSK,Czechoslovakia,Chnoupek,NaN
7941,1977,32,CSK,Czechoslovakia,CHNOUPEK,NaN
8081,1976,31,CSK,Czechoslovakia,Mr. Chnoupek,NaN
8213,1975,30,CSK,Czechoslovakia,Mr. CHNOUPEK,NaN
8340,1974,29,CSK,Czechoslovakia,Mr. Chnoupek,NaN
8466,1973,28,CSK,Czechoslovakia,Chnoupek,NaN
8589,1972,27,CSK,Czechoslovakia,Mr. Chhoupek,NaN
8709,1971,26,CSK,Czechoslovakia,Mr. Marko,NaN
8926,1969,24,CSK,Czechoslovakia,Mr. MARKO,NaN
9010,1968,23,CSK,Czechoslovakia,Mr. PLESKOT,NaN
9112,1967,22,CSK,Czechoslovakia,Mr. DAVID,NaN
9223,1966,21,CSK,Czechoslovakia,Mr. DAVID,NaN
9329,1965,20,CSK,Czechoslovakia,Mr. DAVID,NaN
9440,1964,19,CSK,Czechoslovakia,Mr. David,NaN
9525,1963,18,CSK,Czechoslovakia,Mr. DAVID,NaN
9593,1962,17,CSK,Czechoslovakia,Mr. DAVID,NaN
9704,1961,16,CSK,Czechoslovakia,Mr. David,NaN
9851,1959,14,CSK,Czechoslovakia,Mr. David,NaN
9935,1958,13,CSK,Czechoslovakia,Mr. David,NaN
9991,1958,13,CSK,Czechoslovakia,Mr. David,NaN
10013,1957,12,CSK,Czechoslovakia,Mr. DAVID,NaN
10051,1957,12,CSK,Czechoslovakia,Mr. DAVID,NaN
10118,1956,11,CSK,Czechoslovakia,Mr. DAVID,NaN
10172,1955,10,CSK,Czechoslovakia,Mr. David,NaN
10214,1954,9,CSK,Czechoslovakia,Mr. DAVID,NaN
10248,1953,8,CZE,Czechoslovakia,Mr. David,NaN
10287,1952,7,CSK,Czechoslovakia,Mrs. SEKANINOVA-CAKRTOVA,NaN
10358,1951,6,CSK,Czechoslovakia,Mrs. SEKANINOVA-CAKRTOVA,NaN
10388,1950,5,CSK,Czechoslovakia,Mr. SIROKY,NaN
10430,1949,4,CSK,Czechoslovakia,Mr. CLEMENTIS,NaN
10462,1948,3,CSK,Czechoslovakia,Mr. CLEMENTIS,NaN
10502,1947,2,CZK,Czechoslovakia,Mr. Masaryk,NaN
10535,1946,1,CZK,Czechoslovakia,Mr. Masaryk,NaN

In [26]:
cc.convert("Czechoslovakia") # some codes are badly assigned

'CZE'

### 3rd iteration of corrections

In [27]:
base_unique_countries = base_metadata.Country.unique()

In [28]:
iso3_codes = cc.convert(names=base_unique_countries, to="ISO3")

European Union not found in regex
Serbia and Montenegro not found in regex
Yugoslavia not found in regex
West Germany not found in regex
Union of Soviet Socialist Republics not found in regex
East Germany not found in regex
Arab League not found in regex
United Arab Republic not found in regex

In [29]:
iso3_codes = pd.Series(np.array(iso3_codes, dtype=object))

In [30]:
base_metadata["new ISO Code"] = base_metadata["Country"].replace(dict(zip(base_unique_countries, iso3_codes)))

In [31]:
base_metadata.loc[base_metadata["new ISO Code"] != base_metadata["ISO Code"], ["Country", "ISO Code", "new ISO Code"]].drop_duplicates().sort_values("ISO Code")

# all seems to be fine except Czechoslovakia and Guinea-Bissau

                                     Country ISO Code new ISO Code
9634                    United Arab Republic      ARE    not found
9812                                 Austria      AUS          AUT
8448                                 Dahomey     BEN           BEN
9218                                  Canada     CAN           CAN
4074                                  Sweden      CHE          SWE
401                    Republic of the Congo      COL          COG
9767         Czechoslovak Socialist Republic      CSK          CZE
5510                          Czechoslovakia      CSK          CZE
10502                         Czechoslovakia      CZK          CZE
6014                            West Germany      DDR    not found
6170                            East Germany      DDR    not found
6171                            West Germany      DEU    not found
8927                                 Denmark      DKN          DNK
1799                          European Union       EC    not found
8895                    United Arab Republic      EGY    not found
109                           European Union       EU    not found
7381                                  Guinea     GIN           GIN
6938                           Guinea Bassau      GNB          GIN
8726                               Guatemala     GTM           GTM
9273                                 Nigeria      NER          NGA
9709                                Paraguay      PAR          PRY
1140   Democratic People’s Republic of Korea      PKR          PRK
504                      Portuguese Republic      POR          PRT
1020                                Portugal      POR          PRT
6097     Union of Soviet Socialist Republics      RUS    not found
4203                               Swaziland      SWE          SWZ
7171    United States Minor Outlying Islands      USA          UMI
5971                          Western Sahara      WSM          ESH
8799   People's Democratic Republic of Yemen     YDYE          YEM
6436                        Democratic Yemen     YDYE          YEM
8047            Democratic Republic of Yemen     YDYE          YEM
6282                             South Yemen     YDYE          YEM
8935                          Southern Yemen     YDYE          YEM
7469                        Democratic Yemen    YDYE           YEM
3471                   Serbia and Montenegro      YUG    not found
5973                              Yugoslavia      YUG    not found
1186                            South Africa      ZFA          ZAF
6594                             Arab League      NaN    not found

In [32]:
base_metadata.loc[base_metadata["Country"] == "Guinea Bassau", ["Country", "ISO Code", "new ISO Code"]] = ["Guinea-Bissau", "GNB", "GNB"]

In [33]:
base_metadata.loc[(base_metadata["new ISO Code"] == "CZE") & (base_metadata["Year"] < 1993), ["new ISO Code", "Country"]] = ["not found", "Czechoslovakia"]

In [34]:
base_metadata["ISO Code"] = base_metadata["new ISO Code"]

In [35]:
base_metadata.drop(["new ISO Code"], axis=1, inplace=True)
base_metadata

,Year,Session,ISO Code,Country,Name of Person Speaking,Post
0,2022,77,BRA,Brazil,Jair Bolsonaro,President
1,2022,77,SEN,Senegal,Macky Sail,President
2,2022,77,CHL,Chile,Gabriel Boric Font,President
3,2022,77,JOR,Jordan,Abdullah II ibn Al Hussein,King
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President
...,...,...,...,...,...,...
10554,1946,1,USA,United States of America,Mr. Austin,NaN
10555,1946,1,IRN,Iran,Mr. Entezam,NaN
10556,1946,1,URY,Uruguay,Mr. Blanco,NaN
10557,1946,1,LUX,Luxembourg,Mr. Bech,NaN
10558,1946,1,UKR,Ukrainian Soviet Socialist Republic,Mr. Manuilsky,NaN

### 4th iteration of corrections

In [36]:
unique_iso_codes = base_metadata["ISO Code"].unique()
short_names = np.array(cc.convert(unique_iso_codes, to="name_short"), dtype=object)

not found not found in regex

In [37]:
np.sort(short_names)

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo Republic', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'DR Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyz Republic',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Korea', 'North Macedonia', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Samoa', 'San Marino', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Kitts and Nevis', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkmenistan', 'Tuvalu', 'Türkiye', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Minor Outlying Islands', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe', 'not found'],
      dtype=object)

In [38]:
short_names_dict = dict(zip(unique_iso_codes, short_names))

In [39]:
base_metadata.loc[base_metadata["ISO Code"] != "not found", "Country"] = base_metadata.loc[base_metadata["ISO Code"] != "not found", "ISO Code"].replace(short_names_dict)

In [40]:
base_metadata.loc[base_metadata["ISO Code"] == "not found", "Country"].value_counts()

Country
Czechoslovakia                         48
Yugoslavia                             46
Union of Soviet Socialist Republics    43
West Germany                           18
East Germany                           17
European Union                         11
United Arab Republic                   11
Serbia and Montenegro                   5
Arab League                             1
Name: count, dtype: int64

In [41]:
special_entities = base_metadata.loc[base_metadata["ISO Code"] == "not found", "Country"].unique()
special_entities

array(['European Union', 'Serbia and Montenegro', 'Czechoslovakia',
       'Yugoslavia', 'West Germany',
       'Union of Soviet Socialist Republics', 'East Germany',
       'Arab League', 'United Arab Republic'], dtype=object)

In [42]:
special_entities_country_dict = {
    "Czechoslovakia": ["Czechia", "Slovakia"],
    "Serbia and Montenegro": ["Serbia", "Montenegro"],
    "United Arab Republic": ["Egypt", "Syria"],
    "Union of Soviet Socialist Republics": [
        "Russia",
        "Ukraine",
        "Belarus",
        "Uzbekistan",
        "Kazakhstan",
        "Georgia",
        "Azerbaijan",
        "Lithuania",
        "Moldova",
        "Latvia",
        "Kyrgyzstan",
        "Tajikistan",
        "Armenia",
        "Turkmenistan",
        "Estonia",
    ],
    "Yugoslavia": [
        "Bosnia and Herzegovina", 
        "Croatia",
        "Macedonia",
        "Montenegro",
        "Serbia",
        "Slovenia"
    ]
}

In [43]:
base_metadata["Name of Person Speaking"] = base_metadata["Name of Person Speaking"].str.strip().str.title()

In [44]:
base_metadata["Post"] = base_metadata["Post"].str.strip().str.title()

In [45]:
assert len(base_metadata) == ORG_METADATA_LENGTH

In [46]:
base_metadata.to_csv(TMP_FILE_PATH, index=False)

## Population

In [47]:
base_metadata = pd.read_csv(TMP_FILE_PATH)

In [48]:
population_df = pd.read_csv(os.path.join(METADATA_SOURCES_DIR_PATH, "population.csv"))
population_df.head()

   geo         name  time  Population
0  afg  Afghanistan  1800   3280000.0
1  afg  Afghanistan  1801   3280000.0
2  afg  Afghanistan  1802   3280000.0
3  afg  Afghanistan  1803   3280000.0
4  afg  Afghanistan  1804   3280000.0

In [49]:
population_df["geo"] = population_df["geo"].str.upper()

In [50]:
set(base_metadata["ISO Code"]) - set(population_df.geo)

{'ESH', 'UMI', 'VAT', 'not found'}

In [51]:
set(population_df.geo) - set(base_metadata["ISO Code"])

{'HKG', 'HOS'}

In [52]:
population_df.loc[population_df["geo"] == "HOS", "geo"] = "VAT"

In [53]:
# add population based on iso code and year
base_metadata_pop = base_metadata.copy()
base_metadata_pop = base_metadata_pop.merge(population_df, left_on=["ISO Code", "Year"], right_on=["geo", "time"], how="left")
base_metadata_pop.drop(["geo", "time", "name"], axis=1, inplace=True)
base_metadata_pop.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0

In [54]:
# sum from constituent countries for special entities and specific years 
for entity, constituent_countries in special_entities_country_dict.items():
    iso_codes = np.array(cc.convert(constituent_countries, to="ISO3"), dtype=object)
    for year in range(1946, 2023):
        base_metadata_pop.loc[(base_metadata_pop["Country"] == entity) & (base_metadata_pop["Year"] == year), "Population"] = \
            population_df[(population_df["geo"].isin(iso_codes)) & (population_df["time"] == year)]["Population"].sum()

In [55]:
base_metadata_pop.loc[pd.isnull(base_metadata_pop["Population"])]

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population
109,2022,77,not found,European Union,Charles Michel,President,NaN
147,2022,77,VAT,Vatican,Pietro Parolin,Secretary Of State,NaN
302,2021,76,not found,European Union,Charles Michel,President,NaN
352,2021,76,VAT,Vatican,Pietro Parolin,Prime Minister,NaN
488,2020,75,VAT,Vatican,His Holiness Pope Francis,Pope,NaN
...,...,...,...,...,...,...,...
8217,1975,30,not found,West Germany,Mr. Genscher,NaN,NaN
8343,1974,29,not found,East Germany,Mr. Fischer,NaN,NaN
8344,1974,29,not found,West Germany,Mr. Genscher,NaN,NaN
8469,1973,28,not found,East Germany,Winzer,NaN,NaN
8470,1973,28,not found,West Germany,Brandt,Chancellor,NaN

In [56]:
germany_east_west_pop = pd.read_csv(os.path.join(METADATA_SOURCES_DIR_PATH, "population_germany_east_west.csv")) # from Wikipedia pages
germany_east_west_pop

    Year Population  Total fertility rate       Country
0   1946        NaN                  1.30  East Germany
1   1947        NaN                  1.75  East Germany
2   1948        NaN                  1.76  East Germany
3   1949        NaN                  2.03  East Germany
4   1950     18,388                  2.35  East Germany
..   ...        ...                   ...           ...
85  1986     61 140                  1.34  West Germany
86  1987     61 238                  1.37  West Germany
87  1988     61 715                  1.41  West Germany
88  1989     62 679                  1.39  West Germany
89  1990     63 726                  1.45  West Germany

[90 rows x 4 columns]

In [57]:
germany_east_west_pop["Population"] = (
    germany_east_west_pop["Population"].str.replace(",", "").str.replace(" ", "").astype(float) * 1000
)
germany_east_west_pop

    Year  Population  Total fertility rate       Country
0   1946         NaN                  1.30  East Germany
1   1947         NaN                  1.75  East Germany
2   1948         NaN                  1.76  East Germany
3   1949         NaN                  2.03  East Germany
4   1950  18388000.0                  2.35  East Germany
..   ...         ...                   ...           ...
85  1986  61140000.0                  1.34  West Germany
86  1987  61238000.0                  1.37  West Germany
87  1988  61715000.0                  1.41  West Germany
88  1989  62679000.0                  1.39  West Germany
89  1990  63726000.0                  1.45  West Germany

[90 rows x 4 columns]

In [58]:
# fill population for Germany
for year in range(1973, 1991):
    base_metadata_pop.loc[
        (base_metadata_pop["Country"] == "East Germany") & (base_metadata_pop["Year"] == year), "Population"
    ] = germany_east_west_pop.loc[
        (germany_east_west_pop["Country"] == "East Germany") & (germany_east_west_pop["Year"] == year)
    ][
        "Population"
    ].values[0]
    base_metadata_pop.loc[
        (base_metadata_pop["Country"] == "West Germany") & (base_metadata_pop["Year"] == year), "Population"
    ] = germany_east_west_pop.loc[
        (germany_east_west_pop["Country"] == "West Germany") & (germany_east_west_pop["Year"] == year)
    ][
        "Population"
    ].values[0]

In [59]:
base_metadata_pop.loc[pd.isnull(base_metadata_pop["Population"])]

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population
109,2022,77,not found,European Union,Charles Michel,President,NaN
147,2022,77,VAT,Vatican,Pietro Parolin,Secretary Of State,NaN
302,2021,76,not found,European Union,Charles Michel,President,NaN
352,2021,76,VAT,Vatican,Pietro Parolin,Prime Minister,NaN
488,2020,75,VAT,Vatican,His Holiness Pope Francis,Pope,NaN
490,2020,75,not found,European Union,Mr. Charles Michel,President Of The European Council,NaN
665,2019,74,not found,European Union,Mr. Donald Tusk,President Of The European Council,NaN
732,2019,74,VAT,Vatican,Cardinal Pietro Parolin,Secretary Of State,NaN
831,2018,73,not found,European Union,Mr. Donald Tusk,President Of The European Council,NaN
961,2018,73,VAT,Vatican,Archbishop Paul Richard Gallagher,Secretary For Relations With States,NaN
1017,2017,72,not found,European Union,Mr. Donald Tusk,President Of The European Council,NaN
1157,2017,72,VAT,Vatican,Archbishop Paul Richard Gallagher,Secretary For Relations With States,NaN
1209,2016,71,not found,European Union,Mr. Donald Tusk,President Of The European Council,NaN
1256,2016,71,VAT,Vatican,Cardinal Parolin,Secretary Of State,NaN
1417,2015,70,not found,European Union,Mr. Donald Tusk,President,NaN
1546,2015,70,VAT,Vatican,Archbishop Paul Richard Gallagher,Secretary Of Relations With States,NaN
1739,2014,69,VAT,Vatican,Cardinal Pietro Parolin,Head Of Government,NaN
1799,2013,68,not found,European Union,Herman Van Rompuy,President,NaN
1932,2013,68,VAT,Vatican,Archbishop Dominque Mamberti,Minister For Foreign Affairs,NaN
1999,2012,67,not found,European Union,Herman Van Rompuy,President,NaN
2127,2012,67,VAT,Vatican,Dominique Mamberti,Minister For Foreign Affairs,NaN
2188,2011,66,not found,European Union,Herman Van Rompuy,President,NaN
2321,2011,66,VAT,Vatican,Archbishop Dominque Mamberti,Minister For Foreign Affairs,NaN
2510,2010,65,VAT,Vatican,Archbishop Dominique Mamberti,Minister For Foreign Affairs,NaN
2703,2009,64,VAT,Vatican,Archbishop Celestino Migliore,Un Representative,NaN
2895,2008,63,VAT,Vatican,Archbishop Celestino Migliore,Un Representative,NaN
3086,2007,62,VAT,Vatican,Archbishop Dominique Mamberti,Minister For Foreign Affairs,NaN
3279,2006,61,VAT,Vatican,Archbishop Giovanni Lajolo,Head Of Government,NaN
3464,2005,60,VAT,Vatican,Celestino Migliore,Un Representative,NaN
3656,2004,59,VAT,Vatican,Archbishop Lajolo,Minister For Foreign Affairs,NaN
5971,1991,46,ESH,Western Sahara,Alesana,Prime Minister,NaN
6594,1987,42,not found,Arab League,Mr. Maksoud,NaN,NaN
7171,1983,38,UMI,United States Minor Outlying Islands,Reagan,President,NaN

In [60]:
base_metadata_pop.loc[(pd.isnull(base_metadata_pop["Population"])) & (base_metadata_pop["Country"] == "Vatican"), "Population"] = 800 # good estimate (not change over time so much)

In [61]:
base_metadata_pop.loc[pd.isnull(base_metadata_pop["Population"])]

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population
109,2022,77,not found,European Union,Charles Michel,President,NaN
302,2021,76,not found,European Union,Charles Michel,President,NaN
490,2020,75,not found,European Union,Mr. Charles Michel,President Of The European Council,NaN
665,2019,74,not found,European Union,Mr. Donald Tusk,President Of The European Council,NaN
831,2018,73,not found,European Union,Mr. Donald Tusk,President Of The European Council,NaN
1017,2017,72,not found,European Union,Mr. Donald Tusk,President Of The European Council,NaN
1209,2016,71,not found,European Union,Mr. Donald Tusk,President Of The European Council,NaN
1417,2015,70,not found,European Union,Mr. Donald Tusk,President,NaN
1799,2013,68,not found,European Union,Herman Van Rompuy,President,NaN
1999,2012,67,not found,European Union,Herman Van Rompuy,President,NaN
2188,2011,66,not found,European Union,Herman Van Rompuy,President,NaN
5971,1991,46,ESH,Western Sahara,Alesana,Prime Minister,NaN
6594,1987,42,not found,Arab League,Mr. Maksoud,NaN,NaN
7171,1983,38,UMI,United States Minor Outlying Islands,Reagan,President,NaN

In [62]:
base_metadata_pop.loc[(base_metadata_pop["Country"] == "Western Sahara"), "Population"] = 184292

In [63]:
assert len(base_metadata) == ORG_METADATA_LENGTH

In [64]:
base_metadata_pop.to_csv(TMP_FILE_PATH, index=False)

## Total fertility rate

In [65]:
base_metadata = pd.read_csv(TMP_FILE_PATH)
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0

In [66]:
tfr_df = pd.read_excel(os.path.join(METADATA_SOURCES_DIR_PATH, "tfr-by-gapminder.xlsx"), sheet_name = "countries_and_territories")

In [67]:
tfr_df["geo"] = tfr_df["geo"].str.upper()

In [68]:
set(base_metadata["ISO Code"]) - set(tfr_df.geo)

{'UMI', 'VAT', 'not found'}

In [69]:
tfr_df.loc[tfr_df["geo"] == "HOS", "geo"] = "VAT"

In [70]:
tfr_df = pd.melt(tfr_df, id_vars=tfr_df.columns[:4], value_vars=tfr_df.columns[4:], value_name="TFR", var_name="time")
tfr_df.head()

,geo.name,indicator.name,geo,indicator,time,TFR
0,Abkhazia,Total fertility rate,ABKH,tfr,1800,NaN
1,Afghanistan,Total fertility rate,AFG,tfr,1800,7.00
2,Akrotiri and Dhekelia,Total fertility rate,AKR_A_DHE,tfr,1800,NaN
3,Albania,Total fertility rate,ALB,tfr,1800,4.60
4,Algeria,Total fertility rate,DZA,tfr,1800,6.99

In [71]:
# add TFR based on iso code and year
base_metadata = base_metadata.merge(tfr_df, left_on=["ISO Code", "Year"], right_on=["geo", "time"], how="left")
base_metadata.drop(["geo.name", "geo", "indicator.name", "time", "indicator"], axis=1, inplace=True)
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75

In [72]:
for year in range(1973, 1991):
    base_metadata.loc[
        (base_metadata["Country"] == "East Germany") & (base_metadata["Year"] == year), "TFR"
    ] = germany_east_west_pop.loc[
        (germany_east_west_pop["Country"] == "East Germany") & (germany_east_west_pop["Year"] == year)
    ][
        "Total fertility rate"
    ].values[
        0
    ]
    base_metadata.loc[
        (base_metadata["Country"] == "West Germany") & (base_metadata["Year"] == year), "TFR"
    ] = germany_east_west_pop.loc[
        (germany_east_west_pop["Country"] == "West Germany") & (germany_east_west_pop["Year"] == year)
    ][
        "Total fertility rate"
    ].values[
        0
    ]

In [73]:
base_metadata.loc[pd.isnull(base_metadata["TFR"])]

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR
21,2022,77,MHL,Marshall Islands,David Kabua,President,41569.0,NaN
60,2022,77,MCO,Monaco,Albert Ii,Prince,36469.0,NaN
61,2022,77,DMA,Dominica,Charles Angelo Savarin,President,72737.0,NaN
68,2022,77,PLW,Palau,Gustav N. Aitaro,Minister Of Foreign Affairs,18055.0,NaN
109,2022,77,not found,European Union,Charles Michel,President,NaN,NaN
...,...,...,...,...,...,...,...,...
10502,1947,2,not found,Czechoslovakia,Mr. Masaryk,NaN,12170450.0,NaN
10514,1947,2,not found,Yugoslavia,Mr. Simic,NaN,15106589.0,NaN
10535,1946,1,not found,Czechoslovakia,Mr. Masaryk,NaN,12915869.0,NaN
10547,1946,1,not found,Union of Soviet Socialist Republics,Mr. Molotov,NaN,174188456.0,NaN
10553,1946,1,not found,Yugoslavia,Mr. Simic,NaN,14916429.0,NaN

In [74]:
tmp_df = population_df.merge(tfr_df, left_on=["geo", "time"], right_on=["geo", "time"], how="inner")

In [75]:
# TFR calculated as weighted average (weighted by population) from constituent countries for special entities and specific years
for entity, constituent_countries in special_entities_country_dict.items():
    iso_codes = np.array(cc.convert(constituent_countries, to="ISO3"), dtype=object)
    for year in range(1946, 2023):
        base_metadata.loc[
            (base_metadata["Country"] == entity) & (base_metadata["Year"] == year), "TFR"
        ] = (tmp_df.loc[
            (tmp_df["geo"].isin(iso_codes)) & (tmp_df["time"] == year), "TFR"
        ] * tmp_df.loc[
            (tmp_df["geo"].isin(iso_codes)) & (tmp_df["time"] == year), "Population"
        ]).sum() / tmp_df.loc[
            (tmp_df["geo"].isin(iso_codes)) & (tmp_df["time"] == year), "Population"
        ].sum()

In [76]:
assert len(base_metadata) == ORG_METADATA_LENGTH

In [77]:
base_metadata.to_csv(TMP_FILE_PATH, index=False)

## HDI

In [78]:
base_metadata = pd.read_csv(TMP_FILE_PATH)
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75

In [79]:
hdi_df = pd.read_csv(os.path.join(METADATA_SOURCES_DIR_PATH, "hdi.csv"))
hdi_df = hdi_df.iloc[:, :37]
hdi_df.drop(["hdi_rank_2021", "hdicode"], axis=1, inplace=True)
hdi_df.columns = list(hdi_df.columns[:3]) + [str(year) for year in range(1990, 2022)]
hdi_df.head()

,iso3,country,region,1990,1991,1992,1993,1994,1995,1996,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFG,Afghanistan,SA,0.273,0.279,0.287,0.297,0.292,0.310,0.319,...,0.466,0.474,0.479,0.478,0.481,0.482,0.483,0.488,0.483,0.478
1,AGO,Angola,SSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.541,0.552,0.563,0.582,0.596,0.597,0.595,0.595,0.590,0.586
2,ALB,Albania,ECA,0.647,0.629,0.614,0.617,0.624,0.634,0.645,...,0.778,0.785,0.792,0.795,0.798,0.802,0.806,0.810,0.794,0.796
3,AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.869,0.864,0.871,0.867,0.871,0.868,0.872,0.873,0.848,0.858
4,ARE,United Arab Emirates,AS,0.728,0.739,0.742,0.748,0.755,0.762,0.767,...,0.846,0.852,0.859,0.865,0.870,0.897,0.909,0.920,0.912,0.911

In [80]:
hdi_df = pd.melt(hdi_df, id_vars=hdi_df.columns[:3], value_vars=hdi_df.columns[3:], value_name="HDI", var_name="time")
hdi_df["time"] = hdi_df["time"].astype(int)
hdi_df.head()

  iso3               country region  time    HDI
0  AFG           Afghanistan     SA  1990  0.273
1  AGO                Angola    SSA  1990    NaN
2  ALB               Albania    ECA  1990  0.647
3  AND               Andorra    NaN  1990    NaN
4  ARE  United Arab Emirates     AS  1990  0.728

In [81]:
base_metadata = base_metadata.merge(hdi_df, left_on=["ISO Code", "Year"], right_on=["iso3", "time"], how="left")
base_metadata.drop(["iso3", "country", "region", "time"], axis=1, inplace=True)
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65,NaN
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36,NaN
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74,NaN
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02,NaN
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75,NaN

In [82]:
assert len(base_metadata) == ORG_METADATA_LENGTH

In [83]:
base_metadata.to_csv(TMP_FILE_PATH, index=False)

## GDP (at constant 2015 prices in US Dollars)

In [84]:
base_metadata = pd.read_csv(TMP_FILE_PATH)
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65,NaN
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36,NaN
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74,NaN
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02,NaN
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75,NaN

In [85]:
gdp_df = pd.read_csv(os.path.join(METADATA_SOURCES_DIR_PATH, "gdp.csv"))
gdp_df.drop(["Indicator Name", "Indicator Code", "Unnamed: 67"], axis=1, inplace=True)
gdp_df = gdp_df.melt(id_vars=gdp_df.columns[:2], value_vars=gdp_df.columns[2:], value_name="GDP", var_name="time")
gdp_df["time"] = gdp_df["time"].astype(int)
gdp_df.head()

                  Country Name Country Code  time           GDP
0                        Aruba          ABW  1960           NaN
1  Africa Eastern and Southern          AFE  1960  1.540941e+11
2                  Afghanistan          AFG  1960           NaN
3   Africa Western and Central          AFW  1960  1.058619e+11
4                       Angola          AGO  1960           NaN

In [86]:
base_metadata = base_metadata.merge(gdp_df, left_on=["ISO Code", "Year"], right_on=["Country Code", "time"], how="left")
base_metadata.drop(["Country Code", "time", "Country Name"], axis=1, inplace=True)
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI,GDP
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65,NaN,1.901461e+12
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36,NaN,2.537043e+10
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74,NaN,2.814772e+11
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02,NaN,4.311994e+10
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75,NaN,3.557413e+11

In [87]:
base_metadata.loc[pd.isnull(base_metadata["GDP"])]

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI,GDP
60,2022,77,MCO,Monaco,Albert Ii,Prince,36469.0,NaN,NaN,NaN
62,2022,77,LBN,Lebanon,Mohammad Najib Azmi Mikati,President,5489739.0,1.70,NaN,NaN
64,2022,77,CUB,Cuba,Bruno Eduardo Rodriguez Parrilla,Minister Of Foreign Affairs,11212191.0,1.73,NaN,NaN
68,2022,77,PLW,Palau,Gustav N. Aitaro,Minister Of Foreign Affairs,18055.0,NaN,NaN,NaN
73,2022,77,YEM,Yemen,Rashad Mohammed Al-Alimi,President,33696614.0,3.44,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10554,1946,1,USA,United States,Mr. Austin,NaN,140031458.0,2.83,NaN,NaN
10555,1946,1,IRN,Iran,Mr. Entezam,NaN,16071828.0,6.94,NaN,NaN
10556,1946,1,URY,Uruguay,Mr. Blanco,NaN,2133431.0,2.69,NaN,NaN
10557,1946,1,LUX,Luxembourg,Mr. Bech,NaN,297340.0,2.33,NaN,NaN
10558,1946,1,UKR,Ukraine,Mr. Manuilsky,NaN,35840148.0,2.88,NaN,NaN

In [88]:
assert len(base_metadata) == ORG_METADATA_LENGTH

In [89]:
base_metadata.to_csv(TMP_FILE_PATH, index=False)

## Unemployment rate

In [90]:
base_metadata = pd.read_csv(TMP_FILE_PATH)
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI,GDP
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65,NaN,1.901461e+12
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36,NaN,2.537043e+10
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74,NaN,2.814772e+11
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02,NaN,4.311994e+10
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75,NaN,3.557413e+11

In [91]:
unemployment_df = pd.read_csv(os.path.join(METADATA_SOURCES_DIR_PATH, "unemployment_rate.csv"))
unemployment_df = unemployment_df.iloc[:, [0, 5, 6]]
unemployment_df.columns = ["country", "time", "Unemployment Rate"]

In [92]:
unemployment_df = pd.read_csv(os.path.join(METADATA_SOURCES_DIR_PATH, "unemployment_rate.csv"))
unemployment_df = unemployment_df.iloc[:, [0, 5, 6]]
unemployment_df.columns = ["country", "time", "Unemployment Rate"]
unemployment_df.loc[unemployment_df["country"] == "Macau, China", "country"] = "Macau"

In [93]:
countries = list(unemployment_df["country"].unique())
map_dict = dict(zip(countries, cc.convert(countries, to="ISO3")))

Channel Islands not found in regex
World not found in regex
World: Low income not found in regex
World: Lower-middle income not found in regex
World: Upper-middle income not found in regex
World: High income not found in regex
Africa not found in regex
Africa: Low income not found in regex
Africa: Lower-middle income not found in regex
Africa: Upper-middle income not found in regex
Northern Africa not found in regex
Northern Africa: Lower-middle income not found in regex
Sub-Saharan Africa not found in regex
Sub-Saharan Africa: Low income not found in regex
Sub-Saharan Africa: Lower-middle income not found in regex
Sub-Saharan Africa: Upper-middle income not found in regex
Central Africa not found in regex
Eastern Africa not found in regex
Western Africa not found in regex
Americas not found in regex
Americas: Lower-middle income not found in regex
Americas: Upper-middle income not found in regex
Americas: High income not found in regex
Latin America and the Caribbean not found in regex
Latin America and the Caribbean: Lower-middle income not found in regex
Latin America and the Caribbean: Upper-middle income not found in regex
Latin America and the Caribbean: High income not found in regex
Caribbean not found in regex
Central America not found in regex
South America not found in regex
Northern America not found in regex
Northern America: High income not found in regex
Arab States not found in regex
Arab States: Lower-middle income not found in regex
Arab States: Upper-middle income not found in regex
Arab States: High income not found in regex
Asia and the Pacific not found in regex
Asia and the Pacific: Low income not found in regex
Asia and the Pacific: Lower-middle income not found in regex
Asia and the Pacific: Upper-middle income not found in regex
Asia and the Pacific: High income not found in regex
Eastern Asia not found in regex
Eastern Asia: High income not found in regex
South-Eastern Asia and the Pacific not found in regex
South-Eastern Asia and the Pacific: Lower-middle income not found in regex
South-Eastern Asia and the Pacific: Upper-middle income not found in regex
South-Eastern Asia and the Pacific: High income not found in regex
South-Eastern Asia not found in regex
Pacific Islands not found in regex
Southern Asia not found in regex
Southern Asia: Lower-middle income not found in regex
Europe and Central Asia not found in regex
Europe and Central Asia: Lower-middle income not found in regex
Europe and Central Asia: Upper-middle income not found in regex
Europe and Central Asia: High income not found in regex
Northern, Southern and Western Europe not found in regex
Northern, Southern and Western Europe: Upper-middle income not found in regex
Northern, Southern and Western Europe: High income not found in regex
Northern Europe not found in regex
Southern Europe not found in regex
Western Europe not found in regex
Eastern Europe not found in regex
Eastern Europe: Upper-middle income not found in regex
Eastern Europe: High income not found in regex
Central Asia not found in regex
Central and Western Asia: Lower-middle income not found in regex
Central and Western Asia: Upper-middle income not found in regex
Central and Western Asia: High income not found in regex
Central and Western Asia not found in regex
Western Asia not found in regex
European Union 28 not found in regex
G20 not found in ISO3
ASEAN not found in regex
BRICS not found in regex
World  not found in regex
G7 not found in ISO2
MENA not found in regex
Arab League not found in regex
CARICOM not found in regex
European Union 27 not found in regex
Arab States: Low income not found in regex
APEC not found in regex

In [94]:
unemployment_df["iso3"] = unemployment_df["country"].replace(map_dict)
unemployment_df.loc[unemployment_df["iso3"] == "not found", "iso3"] = np.nan
unemployment_df.head()

       country  time  Unemployment Rate iso3
0  Afghanistan  2020             11.710  AFG
1  Afghanistan  2019             11.085  AFG
2  Afghanistan  2018             11.110  AFG
3  Afghanistan  2017             11.180  AFG
4  Afghanistan  2016             10.086  AFG

In [95]:
unemployment_df.loc[unemployment_df["iso3"] == "ZAF"] # Southern Africa is not a country -- it is South Africa

              country  time  Unemployment Rate iso3
6854  Southern Africa  2024             28.642  ZAF
6855  Southern Africa  2023             28.762  ZAF
6856  Southern Africa  2022             28.626  ZAF
6857  Southern Africa  2021             27.759  ZAF
6858  Southern Africa  2020             23.894  ZAF
...               ...   ...                ...  ...
9127     South Africa  1995             20.750  ZAF
9128     South Africa  1994             20.828  ZAF
9129     South Africa  1993             20.971  ZAF
9130     South Africa  1992             21.159  ZAF
9131     South Africa  1991             21.194  ZAF

[68 rows x 4 columns]

In [96]:
unemployment_df = unemployment_df.loc[unemployment_df["country"] != "Southern Africa"]

In [97]:
base_metadata = base_metadata.merge(unemployment_df, left_on=["ISO Code", "Year"], right_on=["iso3", "time"], how="left")
base_metadata.drop(["iso3", "time", "country"], axis=1, inplace=True)
base_metadata

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI,GDP,Unemployment Rate
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65,NaN,1.901461e+12,9.461
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36,NaN,2.537043e+10,3.434
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74,NaN,2.814772e+11,7.784
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02,NaN,4.311994e+10,17.874
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75,NaN,3.557413e+11,10.726
...,...,...,...,...,...,...,...,...,...,...,...
10554,1946,1,USA,United States,Mr. Austin,NaN,140031458.0,2.83,NaN,NaN,NaN
10555,1946,1,IRN,Iran,Mr. Entezam,NaN,16071828.0,6.94,NaN,NaN,NaN
10556,1946,1,URY,Uruguay,Mr. Blanco,NaN,2133431.0,2.69,NaN,NaN,NaN
10557,1946,1,LUX,Luxembourg,Mr. Bech,NaN,297340.0,2.33,NaN,NaN,NaN
10558,1946,1,UKR,Ukraine,Mr. Manuilsky,NaN,35840148.0,2.88,NaN,NaN,NaN

In [98]:
# find duplicated rows
base_metadata.loc[base_metadata.drop(["Unemployment Rate"], axis=1).duplicated()]

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI,GDP,Unemployment Rate
9979,1958,13,not found,Union of Soviet Socialist Republics,Mr. Gromyko,NaN,206856068.0,3.048103,NaN,NaN,NaN
9989,1958,13,BGR,Bulgaria,Mr. Lukanov,NaN,7749341.0,2.290000,NaN,NaN,NaN
9991,1958,13,not found,Czechoslovakia,Mr. David,NaN,13470642.0,2.612540,NaN,NaN,NaN
10051,1957,12,not found,Czechoslovakia,Mr. David,NaN,13354470.0,2.663490,NaN,NaN,NaN
10132,1956,11,IRQ,Iraq,Mr. Jamali,NaN,6552801.0,6.340000,NaN,NaN,NaN
10134,1956,11,SYR,Syria,Mr. Zeineddine,NaN,4099489.0,7.330000,NaN,NaN,NaN
10360,1951,6,not found,Union of Soviet Socialist Republics,Mr. Vyshinsky,NaN,184006135.0,3.087228,NaN,NaN,NaN

In [99]:
assert len(base_metadata) == ORG_METADATA_LENGTH

In [100]:
base_metadata.to_csv(TMP_FILE_PATH, index=False)

## Gini index

In [101]:
gini_df = pd.read_csv(os.path.join(METADATA_SOURCES_DIR_PATH, "gini.csv"))
gini_df.head()

   geo         name  time  Gini
0  afg  Afghanistan  1800  30.5
1  afg  Afghanistan  1801  30.5
2  afg  Afghanistan  1802  30.5
3  afg  Afghanistan  1803  30.5
4  afg  Afghanistan  1804  30.5

In [102]:
gini_df["geo"] = gini_df["geo"].str.upper()

In [103]:
gini_df

       geo         name  time  Gini
0      AFG  Afghanistan  1800  30.5
1      AFG  Afghanistan  1801  30.5
2      AFG  Afghanistan  1802  30.5
3      AFG  Afghanistan  1803  30.5
4      AFG  Afghanistan  1804  30.5
...    ...          ...   ...   ...
46990  SSD  South Sudan  2036  45.0
46991  SSD  South Sudan  2037  45.0
46992  SSD  South Sudan  2038  45.0
46993  SSD  South Sudan  2039  45.0
46994  SSD  South Sudan  2040  45.0

[46995 rows x 4 columns]

In [104]:
base_metadata = base_metadata.merge(gini_df, left_on=["ISO Code", "Year"], right_on=["geo", "time"], how="left")
base_metadata.drop(["geo", "time", "name"], axis=1, inplace=True)
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI,GDP,Unemployment Rate,Gini
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65,NaN,1.901461e+12,9.461,51.3
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36,NaN,2.537043e+10,3.434,40.3
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74,NaN,2.814772e+11,7.784,47.7
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02,NaN,4.311994e+10,17.874,33.7
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75,NaN,3.557413e+11,10.726,50.8

In [105]:
assert len(base_metadata) == ORG_METADATA_LENGTH

In [106]:
base_metadata.to_csv(TMP_FILE_PATH, index=False)

## CO2 emissions per capita
- from fossil fuels
- in tonnes

In [107]:
base_metadata = pd.read_csv(TMP_FILE_PATH)
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI,GDP,Unemployment Rate,Gini
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65,NaN,1.901461e+12,9.461,51.3
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36,NaN,2.537043e+10,3.434,40.3
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74,NaN,2.814772e+11,7.784,47.7
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02,NaN,4.311994e+10,17.874,33.7
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75,NaN,3.557413e+11,10.726,50.8

In [108]:
co2_df = pd.read_csv(os.path.join(METADATA_SOURCES_DIR_PATH, "co2.csv"))
co2_df = co2_df = co2_df.iloc[:, [0, 1, 2, 3]]
co2_df.columns = ["country", "iso", "time", "CO2"]
co2_df.head()

       country  iso  time  CO2
0  Afghanistan  AFG  1750  NaN
1  Afghanistan  AFG  1751  NaN
2  Afghanistan  AFG  1752  NaN
3  Afghanistan  AFG  1753  NaN
4  Afghanistan  AFG  1754  NaN

In [109]:
co2_df.loc[co2_df["iso"] == "KNA"].time.value_counts() # too many values for St. Kitts and Nevis

time
1750    2
1930    2
1936    2
1935    2
1934    2
       ..
1847    2
1848    2
1849    2
1850    2
2022    2
Name: count, Length: 273, dtype: int64

In [110]:
# drop rows for St. Kitts-Nevis-Anguilla
co2_df = co2_df.loc[co2_df["country"] != "St. Kitts-Nevis-Anguilla"]

In [111]:
base_metadata = base_metadata.merge(co2_df, left_on=["ISO Code", "Year"], right_on=["iso", "time"], how="left")
base_metadata.drop(["iso", "time", "country"], axis=1, inplace=True)
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI,GDP,Unemployment Rate,Gini,CO2
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65,NaN,1.901461e+12,9.461,51.3,2.245458
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36,NaN,2.537043e+10,3.434,40.3,0.673835
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74,NaN,2.814772e+11,7.784,47.7,4.304166
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02,NaN,4.311994e+10,17.874,33.7,2.030201
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75,NaN,3.557413e+11,10.726,50.8,1.922308

In [112]:
assert len(base_metadata) == ORG_METADATA_LENGTH

In [113]:
base_metadata.to_csv(TMP_FILE_PATH, index=False)

## Democracy index

In [114]:
base_metadata = pd.read_csv(TMP_FILE_PATH)
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI,GDP,Unemployment Rate,Gini,CO2
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65,NaN,1.901461e+12,9.461,51.3,2.245458
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36,NaN,2.537043e+10,3.434,40.3,0.673835
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74,NaN,2.814772e+11,7.784,47.7,4.304166
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02,NaN,4.311994e+10,17.874,33.7,2.030201
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75,NaN,3.557413e+11,10.726,50.8,1.922308

In [115]:
democracy_df = pd.read_csv(os.path.join(METADATA_SOURCES_DIR_PATH, "democracy-index-eiu.csv"))
democracy_df.columns = ["country", "iso", "time", "Democracy Index"]
democracy_df.head()

       country  iso  time  Democracy Index
0  Afghanistan  AFG  2006             3.06
1  Afghanistan  AFG  2008             3.02
2  Afghanistan  AFG  2010             2.48
3  Afghanistan  AFG  2011             2.48
4  Afghanistan  AFG  2012             2.48

In [116]:
base_metadata = base_metadata.merge(democracy_df, left_on=["ISO Code", "Year"], right_on=["iso", "time"], how="left")
base_metadata.drop(["iso", "time", "country"], axis=1, inplace=True)
base_metadata.head()

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI,GDP,Unemployment Rate,Gini,CO2,Democracy Index
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65,NaN,1.901461e+12,9.461,51.3,2.245458,6.78
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36,NaN,2.537043e+10,3.434,40.3,0.673835,5.72
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74,NaN,2.814772e+11,7.784,47.7,4.304166,8.22
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02,NaN,4.311994e+10,17.874,33.7,2.030201,3.17
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75,NaN,3.557413e+11,10.726,50.8,1.922308,6.72

In [117]:
assert len(base_metadata) == ORG_METADATA_LENGTH

In [118]:
base_metadata.to_csv(TMP_FILE_PATH, index=False)

## Geoscheme
6 regions, 22 subregions

In [119]:
base_metadata = pd.read_csv(TMP_FILE_PATH)
base_metadata

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Population,TFR,HDI,GDP,Unemployment Rate,Gini,CO2,Democracy Index
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,215313498.0,1.65,NaN,1.901461e+12,9.461,51.3,2.245458,6.78
1,2022,77,SEN,Senegal,Macky Sail,President,17316449.0,4.36,NaN,2.537043e+10,3.434,40.3,0.673835,5.72
2,2022,77,CHL,Chile,Gabriel Boric Font,President,19603733.0,1.74,NaN,2.814772e+11,7.784,47.7,4.304166,8.22
3,2022,77,JOR,Jordan,Abdullah Ii Ibn Al Hussein,King,11285869.0,3.02,NaN,4.311994e+10,17.874,33.7,2.030201,3.17
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,51874024.0,1.75,NaN,3.557413e+11,10.726,50.8,1.922308,6.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10554,1946,1,USA,United States,Mr. Austin,NaN,140031458.0,2.83,NaN,NaN,NaN,38.9,15.904564,NaN
10555,1946,1,IRN,Iran,Mr. Entezam,NaN,16071828.0,6.94,NaN,NaN,NaN,46.7,NaN,NaN
10556,1946,1,URY,Uruguay,Mr. Blanco,NaN,2133431.0,2.69,NaN,NaN,NaN,54.7,NaN,NaN
10557,1946,1,LUX,Luxembourg,Mr. Bech,NaN,297340.0,2.33,NaN,NaN,NaN,28.9,NaN,NaN
10558,1946,1,UKR,Ukraine,Mr. Manuilsky,NaN,35840148.0,2.88,NaN,NaN,NaN,34.2,NaN,NaN

In [120]:
geoscheme_df = pd.read_csv(os.path.join(METADATA_SOURCES_DIR_PATH, "UNSD_geoscheme.csv"), sep=";")
geoscheme_df = geoscheme_df[["Region Name", "Sub-region Name", "ISO-alpha3 Code"]]
geoscheme_df

    Region Name  Sub-region Name ISO-alpha3 Code
0        Africa  Northern Africa             DZA
1        Africa  Northern Africa             EGY
2        Africa  Northern Africa             LBY
3        Africa  Northern Africa             MAR
4        Africa  Northern Africa             SDN
..          ...              ...             ...
243     Oceania        Polynesia             WSM
244     Oceania        Polynesia             TKL
245     Oceania        Polynesia             TON
246     Oceania        Polynesia             TUV
247     Oceania        Polynesia             WLF

[248 rows x 3 columns]

In [121]:
geoscheme_df[["Region Name", "Sub-region Name"]].value_counts()

Region Name  Sub-region Name
Africa       Sub-Saharan Africa                 53
Americas     Latin America and the Caribbean    52
Asia         Western Asia                       18
Europe       Southern Europe                    16
             Northern Europe                    16
Asia         South-eastern Asia                 11
Europe       Eastern Europe                     10
Oceania      Polynesia                          10
Asia         Southern Asia                       9
Europe       Western Europe                      9
Oceania      Micronesia                          8
Asia         Eastern Asia                        7
Africa       Northern Africa                     7
Oceania      Australia and New Zealand           6
Asia         Central Asia                        5
Americas     Northern America                    5
Oceania      Melanesia                           5
Name: count, dtype: int64

In [122]:
base_metadata = base_metadata.merge(geoscheme_df, left_on="ISO Code", right_on=["ISO-alpha3 Code"], how="left")
base_metadata = base_metadata.drop(["ISO-alpha3 Code"], axis=1)

In [123]:
base_metadata.loc[pd.isna(base_metadata["Region Name"])].value_counts("Country")

Country
Czechoslovakia                         48
Yugoslavia                             46
Union of Soviet Socialist Republics    43
Taiwan                                 24
West Germany                           18
East Germany                           17
European Union                         11
United Arab Republic                   11
Serbia and Montenegro                   5
Arab League                             1
Name: count, dtype: int64

In [124]:
region_geoscheme_dict = {"Czechoslovakia": "Europe",
                        "Yugoslavia": "Europe",
                        "Union of Soviet Socialist Republics": "Europe",
                        "Taiwan": "Asia",
                        "East Germany": "Europe",
                        "West Germany": "Europe",
                        "European Union": "Europe",
                        "Serbia and Montenegro": "Europe",
                        "United Arab Republic": "Africa",
                        "Arab League": "Asia"}

subregion_geoscheme_dict = {"Czechoslovakia": "Eastern Europe",
                        "Yugoslavia": "Southern Europe",
                        "Union of Soviet Socialist Republics": "Eastern Europe",
                        "Taiwan": "Eastern Asia",
                        "East Germany": "Eastern Europe",
                        "West Germany": "Western Europe",
                        "European Union": np.nan,
                        "Serbia and Montenegro": "Southern Europe",
                        "United Arab Republic": "Northern Africa",
                        "Arab League": np.nan}

In [125]:
base_metadata.loc[pd.isna(base_metadata["Region Name"]), "Sub-region Name"] = base_metadata.loc[
    pd.isna(base_metadata["Region Name"]), "Country"
].map(subregion_geoscheme_dict)

In [126]:
base_metadata.loc[pd.isna(base_metadata["Region Name"]), "Region Name"] = base_metadata.loc[
    pd.isna(base_metadata["Region Name"]), "Country"
].map(region_geoscheme_dict)

In [127]:
assert len(base_metadata) == ORG_METADATA_LENGTH

In [128]:
base_metadata.to_csv(TMP_FILE_PATH, index=False)

In [129]:
base_metadata.to_csv("enhanced_metadata.csv", index=False)